<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk />

    <permission
        android:name="com.sap.sailing.racecommittee.app.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO"/>-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--<uses-permission android:name="com.sap.sailing.racecommittee.app.MAPS_RECEIVE" />-->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- To make camera intents work starting with Android 11 -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".RaceApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:name">

        <activity
            android:name=".ui.activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern="/apps/com.sap.sailing.racecommittee.app.apk"
                    android:scheme="http" />

                <data
                    android:host="*"
                    android:pathPattern="/apps/com.sap.sailing.racecommittee.app.apk"
                    android:scheme="https" />
            </intent-filter>
            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="comsapsailingracemanager" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="racemanager-app.sapsailing.com"
                    android:scheme="https" />
                <data
                    android:host="5z0o-alternate.app.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sap.sailing.android.shared.ui.activities.BarcodeCaptureActivity"
            android:screenOrientation="behind"
            tools:replace="android:screenOrientation" />
        <activity android:name=".ui.activities.RacingActivity" />
        <activity android:name=".ui.activities.PasswordActivity" />
        <activity
            android:name=".ui.activities.PreferenceActivity"
            android:screenOrientation="behind"
            android:exported="true"
            android:theme="@style/PreferenceTheme">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.SystemInformationActivity" />

        <service
            android:name=".services.polling.RaceLogPollingService"
            android:exported="false"
            android:stopWithTask="true">
            <intent-filter>
                <action android:name="com.sap.sailing.racecommittee.app.action.stopPoller" />
                <action android:name="com.sap.sailing.racecommittee.app.action.addRace" />
                <action android:name="com.sap.sailing.racecommittee.app.action.removeRace" />
                <action android:name="com.sap.sailing.racecommittee.app.action.poll" />
            </intent-filter>
        </service>
        <service
            android:name=".services.RaceStateService"
            android:exported="false"
            android:stopWithTask="true">
            <intent-filter>
                <action android:name="com.sap.sailing.racecommittee.app.action.startProcedureSpecificAction" />
            </intent-filter>
        </service>
        <service
            android:name="com.sap.sailing.android.shared.services.sending.MessageSendingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.sap.sailing.racecommittee.app.action.sendSavedIntents" />
                <action android:name="com.sap.sailing.racecommittee.app.action.sendMessage" />
            </intent-filter>

            <meta-data
                android:name="com.sap.sailing.android.shared.services.sending.messageRestorer"
                android:value="com.sap.sailing.racecommittee.app.services.sending.EventRestorer" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_jgDZ6HTD063Wiy7rDt5clbdmEFplJRdd" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_netW6MGq3YW5az2uCv2fwgmbttafGPdB" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" /><!-- Set to true to use Branch_Test_Key (useful when simulating installs and/or switching between debug and production flavors) -->
    </application>
</manifest>
